body{
  padding: 0px;
  margin: 0px;
  background-image: url("../images/background.jpeg");
  background-repeat:no-repeat;
  background-size:cover;
}
.selected{
  color:#5799db;
}
.main{
  display:flex;
  flex-direction: column;
  align-items: center;
  color:white;
  height:100%;
  position:absolute;
  width:100%;
}
span{
  font-size:30px;
  padding:10px;
}
