body{
  padding: 0px;
  margin: 0px;
  background-image: url("../images/background.jpeg");
  background-repeat:no-repeat;
  background-size:cover;
}
.selected{
  color:#5799db;
}
.main{
  display:flex;
  flex-direction: column;
  align-items: center;
  color:white;
  height:100%;
  width:100%;
  position:absolute;
}
span{
  font-size:30px;
  padding:10px;
}
span:hover{
  cursor:pointer;
}
input{
  padding:25px;
  font-size:18px;
  background-color: rgb(13,38,63);
  border:none;
  outline:none;
  color:white;
}
.inline{
  display:flex;
}
#symbol{
  position:relative;
  left:-45px;
}

.prices{
  margin-top:20px;
  display:flex;
  flex-direction:column;
  text-align:center;
  overflow:scroll;
  background-color:rgba(13,38,63,0.6);
  padding: 0 20px;
  vertical-align:middle;
}
::-webkit-scrollbar{
  width:0px;
  background: transparent;
}

.bar{
  position:absolute;
  right:50px;
  width:240px;
}
.icons{
  font-size:36px;
  display:flex;
  justify-content: space-between;
}
.icons i{
  color:#5799db;
}
.icons i:hover{
  color: rgb(13,38,63);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.wrapper{
  display:flex;
}
#about{
  display:flex;
  justify-content:center;
  cursor:pointer;
}
#about:hover{
  color:#5799db;
}
#aboutDescriptionBox{
  height:350px;
}
#aboutDescription{
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align:center;
  background-color:rgba(13,38,63,0.6);
}
#aboutDescription p{
  margin:20px;
}
